.figure {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
}

.figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.figure pre {
  text-align: left;
}

dl {
  margin-left: 20px;
  margin-bottom: 30px;
}

dd {
  margin-bottom: 20px;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.ekko-lightbox-nav-overlay a {
  color: black;
}

ol, ul {
  margin-bottom: 30px;
}

h4 {
  margin-top: 30px;
}