BODY
{
	background-color: rgb(0,0,0);
	color: rgb(200,200,200);
	font-family: sans-serif, serif;
}

A:link, A:visited
{
    color: rgb(0, 190, 255);
    text-decoration: none;
}

A:hover
{
    text-decoration: none;
    background-color: rgb(75,75,75);
}

A:focus
{
	color: #660099;
	text-decoration: none;
}

A:active
{
	color: #990099;
	text-decoration: none;
}

div.title
{
	padding: 5px;
	width: 45%;	
}

div.linkbox
{
	display: block;
	padding: 5px;
	width: 12em;
	border-style: dashed;
	border-width: 1px;
	border-color: rgb(200,200,200);
	background-color: rgb(0, 0, 0);
	margin-bottom: 10px;
}

div.linkbox ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div.linkbox li
{
	display:block;
	padding: 2px 2px 2px 2px;
	border-bottom: 1px solid rgb(200,200,200);
}

div.linkbox a
{
	display: block;
}

div.linkbox li:last-child
{
	border-bottom: none;
}

div.linkbox li
{
	position: relative;
}

div.linkbox div.linkbox
{
	position: absolute;
	top: 0;
	left: 100%;
	right: 100%;
	margin: 5px;
	display: none;
	/*margin-left: 5px;*/
}

div.box, .pagination
{
	margin: 15px;
	padding: 5px;
/*	color: gray;
	background-color: rgb(50, 50, 50); */
	border: 1px solid rgb(38, 112, 255);
	background-color: rgb(0, 0, 0);
}

.pagination
{
  text-align: center;
}

div#left
{
	position: fixed;
	top: 15px;
	width: 15%;
	z-index: 2;
}

div#content
{
	/*font-family: fixedsys, courier, sans-serif;*/
	
	position: absolute;
	left: 15em;
	top: 0;
}

div#content div, p
{
	/*text-transform: lowercase; */
	line-height: 1.5;
}

div.box h4
{
	margin: 0px;
	padding: 5px;
	text-align: center;
	background-color: rgb(75,75,75);
	color: rgb(0,0,0);
	font-weight: normal;
}

div.box h1, h2
{
  font-weight: normal;
  border-bottom: 1px solid rgb(45, 45, 45);
  border-top: 1px solid rgb(45, 45, 45);
  padding-left: 10px;
  margin-top: 10px;
  color: rgb(75, 75, 75);
}

div.figure img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.figure
{
  text-align: center;
}
