<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title>nirvdrum's weblog</title>
  <link rel="stylesheet" href="/css/root.css" type="text/css" />
  
  <link href="http://feeds2.feedburner.com/nirvdrum" rel="alternate" title="RSS" type="application/rss+xml" />
  <LINK href='http://www.negativetwenty.net/syntaxhighlighter/styles/shCore.css' rel='stylesheet' type='text/css'></LINK>
  <LINK href='http://www.negativetwenty.net/syntaxhighlighter/styles/shThemeRDark.css' rel='stylesheet' type='text/css'></LINK>
  <SCRIPT src='http://www.negativetwenty.net/syntaxhighlighter/scripts/shCore.js' type='text/javascript'></SCRIPT>
  <SCRIPT src='http://www.negativetwenty.net/syntaxhighlighter/scripts/shBrushJScript.js' type='text/javascript'></SCRIPT>
  <SCRIPT src='http://www.negativetwenty.net/syntaxhighlighter/scripts/shBrushRuby.js' type='text/javascript'></SCRIPT>
  <SCRIPT src='http://www.negativetwenty.net/syntaxhighlighter/scripts/shBrushSql.js' type='text/javascript'></SCRIPT>
  <SCRIPT src='http://www.negativetwenty.net/syntaxhighlighter/scripts/shBrushXml.js' type='text/javascript'></SCRIPT>
  <SCRIPT type='text/javascript'>
    SyntaxHighlighter.all();
  </SCRIPT>
</head>

<body class="main">

  <div id="content">
    <div id="console"></div>
    
    {{ content }}
  </div>

  <div id="left">
    <div class="linkbox">
      <ul>
        <li><a href="/">Index</a></li>
        <li><a href="http://github.com/nirvdrum/">GitHub page</a></li>
      </ul>
    </div>

    <p/>

    <div class="linkbox">
      You know, you're like the A-bomb.  Everyone's laughing, having a good time.
      You come in --  boom, everything's dead.  <br/><br/>-- Master Shake
    </div>
  </div>

</body>
</html>
