<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title>nirvdrum's page</title>
  <link rel="stylesheet" href="/css/root.css" type="text/css" />
</head>

<body class="main">

  <div id="content">
    <div id="console"></div>
    
    {{ content }}
  </div>

  <div id="left">
    <div class="linkbox">
      <ul>
        <li><a href="http://github.com/nirvdrum/">GitHub page</a></li>
      </ul>
    </div>

    <p/>

    <div class="linkbox">
      You know, you're like the A-bomb.  Everyone's laughing, having a good time.
      You come in --  boom, everything's dead.  <br/><br/>-- Master Shake
    </div>
  </div>

</body>
</html>
