---
layout: default
---

<div class="box">
  <h1>{{ page.title }}</h1>
  <em>Posted: {{ page.date | date_to_string }}</em>

  {{ content }}
</div>

<div class="box">
  <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/nirvdrum/embed.js"></script><noscript><a href="http://nirvdrum.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

{% if page.show_ads %}
<div class="ads">
  <script type="text/javascript"><!--
  google_ad_client = "pub-4019526571694253";
  /* 728x90, created 6/21/10 */
  google_ad_slot = "0953435422";
  google_ad_width = 728;
  google_ad_height = 90;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>
{% endif %}